build/
*.user
*.autosave
CMakeUserPresets.json
.DS_Store

# Build-Dateien
build/

# Absturzdateien
core
core.*

# Editor-Dateien
*.swp
*.swo
*.autosave

# Manuelle Sicherungen
*.bak
qml/Main.qml.vor*

# AppImage-Erstellung
build-appimage/
dist/
.appimage-tools/
packaging/

# Entpackte AppImage
squashfs-root/
